.confenrence-layout {
  height: 100vh;

  .broadcast-page-header {
    display: flex;
    align-items: center;

    padding: 0px 36px;

    .ant-page-header-heading {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      .ant-page-header-heading-left {
        .ant-page-header-back {
          .ant-page-header-back-button {
            color: #fff;
          }
        }
        .ant-page-header-heading-title {
          margin-left: 12px;
          color: #fff;
        }
      }
      .ant-page-header-heading-extra {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }

  aside.left-side-bar {
    div.ant-layout-sider-children {
      ul.ant-menu {
        li.ant-menu-item {
          &.ant-menu-item-selected {
            background-color: inherit;
          }

          .icon {
            font-size: 24px;
          }
        }
      }
    }
  }

  aside.left-inner-side-bar {
    //FIXME 사이드바 내부 컴포넌트 사이즈에 맞게 변동
    min-width: fit-content !important;
    max-width: fit-content !important;

    div.ant-layout-sider-children {
    }
  }

  aside.right-side-bar {
    min-width: fit-content !important;
    max-width: fit-content !important;
  }
}

//SECTION 채팅 탭 컴포넌트
.chatting-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 100%;

  .chat-board-container {
    flex-basis: 100%;
    overflow-y: auto;
    .chat-board-box {
      height: 100%;

      .chat-content-box {
        display: flex;
        justify-content: flex-start;
        padding: 0 10px;
        .chat-content {
          max-width: 80%;
          padding: 20px 30px;
          // margin: 10px 0;
          background-color: #d9d9d9;
          border-radius: 20px;
          color: black;
          .chat-user {
            display: block;
            font-family: 'BC-BOLD';
            font-size: 16px;
          }
          .chat-timestamp {
          }
          .chat-text {
            line-break: anywhere;
          }
        }
        &.me {
          justify-content: flex-end;
          .chat-content {
            background-color: #1890ff;
            color: #fff;
            .chat-user {
            }
            .chat-timestamp {
            }
            .chat-text {
            }
          }
        }
      }
    }
  }
  .chat-input-container {
    height: fit-content;

    .chat-input-box {
      display: flex;

      .chat-input-area {
        width: 90%;
        #chatText {
          height: 48px;
        }
      }
      .chat-send-button-area {
        width: 10%;
        #sendButton {
          height: 100%;
        }
      }
    }
  }
}
//!SECTION

//SECTION 파일 탭 컴포넌트
.file-list-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  // padding: 5px 10px;

  .file-list-flex-box {
    height: 200px;
    padding: 5px 10px;
    .file-list-box {
      padding-right: 5px;
      height: 100%;
      overflow-y: auto;

      .empty-set-box {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        .empty-set {
          color: #fff;
        }
      }

      .list-item {
        margin-bottom: 3px;
        width: 100%;
        padding: 20px;

        background-color: #fff;

        cursor: pointer;

        .list-title {
          width: 100%;
          color: #8e8e8e;

          font-weight: bold;

          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        &.active {
          background-color: #7cb305;

          .list-title {
            color: #fff;
          }
        }

        &:hover {
          background-color: #1890ff;

          .list-title {
            color: #fff;
          }
        }
      }
    }
  }

  .document-image-flex-box {
    flex: 1;
    z-index: 1;

    overflow-y: auto;
    padding: 5px 10px;
    background-color: #4b4b4b;
    .image-row {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding: 7px 8px;

      .image-box {
        position: relative;

        border: 1px solid #bbb;
        margin-bottom: 10px;
        // height: 100%;

        cursor: pointer;

        text-align: center;
        background-color: #fff;

        img {
          background-color: #fff;
          width: 100%;
          // height: 100%;
        }

        &.moderator {
          border: 5px solid #c75c58;
        }

        &.me {
          border: 5px solid #5e8d15;
        }

        .video-badge {
          color: #fff;
          padding: 4px 8px;
        }
        .my-badge {
          position: absolute;
          top: 0px;
          left: 0px;
          background-color: #5e8d15;
        }
        .moderator-badge {
          position: absolute;
          top: 0px;
          right: 0px;
          background-color: #c75c58;
        }
      }
    }

    //EMPTY SET
    .empty-set-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      height: 100%;

      .empty-set {
        color: #fff;
      }
    }

    .collapse-toggle-button-box {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .ant-list-item {
    cursor: pointer;
    background-color: #fff;

    &:hover {
      background-color: #1890ff;
      color: #fff;
    }

    &.active {
      background-color: #7cb305;
      color: #fff;
    }
  }
}
//!SECTION

//SECTION 문서공유 파일 리스트 화면

//!SECTION

//SECTION Voting 컴포넌트
.voting-container {
  width: 400px;
  height: 100%;
  .voting-flex-box {
    display: flex;
    flex-direction: column;
    height: 100%;

    // 상단 항목추가 속성
    .insert-voting-box {
      min-height: 110px;
      max-height: 200px;
      height: fit-content;

      overflow-y: auto;

      padding: 14px 8px;
      background-color: #4a4a4a;

      .question-box {
        display: flex;
        height: 85px;
        .left-item {
          height: 100%;
          flex: 1;
          display: flex;
          flex-direction: column;

          .input-box {
            width: 100%;
            height: 50%;
            .insert-text-field {
              width: 100%;
              height: 100%;
              border: none;
              color: black;
              padding: 0 24px;

              &::placeholder {
                color: #939393;
              }
            }
          }
          .insert-box {
            width: 100%;
            height: 50%;

            .insert-btn {
              border: none;
              width: 100%;
              height: 100%;
              color: #545454;
            }
          }
        }
        .right-item {
          width: 75px;
          height: 100%;
          background-color: #4457f3;

          display: flex;
          align-items: center;

          cursor: pointer;

          .insert-icon {
            width: 100%;
            color: #fff;
          }
        }
      }

      .option-box-container {
        margin-top: 10px;
        padding: 0 5px;

        .option-wrapper {
          display: flex;
          flex-wrap: wrap;
          .option {
            .option-checkbox {
              display: flex;
              align-items: center;
              .option-text-field {
              }
              .option-text {
                color: #fff;
              }
            }
          }
        }
      }
    }

    // 하단 질문리스트 속성
    .voting-list-box {
      flex: 1;
      overflow-y: auto;
      padding: 14px 8px;
      .voting-item {
        margin-bottom: 10px;
        // padding: 20px 16px;

        background-color: #fff;
        color: black;

        cursor: pointer;

        &:hover {
          .title-box {
            background-color: #1890ff;
            color: #fff;
          }
        }

        .title-box {
          padding: 0px 16px;
          padding-top: 20px;
          padding-bottom: 10px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          .title {
          }
          .icon {
            font-size: 16px;
          }
        }
        .option-box {
          padding: 0px 16px;
          padding-bottom: 20px;
          .option {
          }
        }
      }
    }
  }
}
//!SECTION

//SECTION Drawing 컴포넌트 속성
.drawing-container {
  width: 200px;
  height: 100%;
  .drawing-flex-box {
    width: 100%;
    height: 100%;
    .sheet-list {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding: 20px 13px;

      .sheet-box {
        width: 100%;
        height: 110px;

        background-color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 20px;

        cursor: pointer;

        &.me-active {
          border: 5px solid #5e8d15;
        }

        &.moderate-active {
          border: 5px solid #c75c58;
        }

        .badge {
          &.me {
          }

          &.moderate {
          }
        }

        .thumbnail-box {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
        }
      }

      .add-sheet-item {
        box-shadow: 0 0 0 5px #fff inset;
        background-color: #848484;
        .add-mark {
          font-size: 42px;
        }
      }
    }
  }
}
//!SECTION

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar {
  width: 6px;
  // padding: 0px 2px;
  // background-color: none;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #d6d6d6;
}
